  
main{
    display: flex;
    flex-direction: column;
}
.izq{
    align-self: flex-start;
    width: 300px;
    background-color: rgb(158, 158, 158);
}
.der{
    align-self: flex-end;
    width: 300px;
    background-color: rgb(127, 216, 153);
}